.app{
    width: 700px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 90px repeat(5, 80px);
    grid-template-areas: 
    "res res res res"
    "9 8 7 reset"
    "6 5 4 reset"
    "3 2 1 reset"
    "0 pt plus minus"
    "equal equal X div";
    margin: 10px auto;
    border-radius: 12px;
    border: 2px solid teal;
}
#equal{
    grid-area: equal;
}
#result{
    grid-area: res;
    font-size: 2.5rem;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
}
#clear{
    grid-area: reset;
}
button{
    border-radius: 12px;
    font-size: 1.5rem;
    border: 1px solid white;
    background-color: teal;
    cursor: pointer;
}
button:hover{
    background-color: rgb(22, 207, 207);
}