*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #f2f2f2;
}

.form-container{
    width: 400px;
    height: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 0 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
}
.form-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container div{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
.pseudo-container label{
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}
.pseudo-container input{
    height: 35px;
    padding: 0 10px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-size: 14px;
}
.pseudo-container input:focus{
    border-color: #007BFF;
    outline: none;
}
.email-container label{
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}
.email-container input{
    height: 35px;
    padding: 0 10px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-size: 14px;
}
.email-container input:focus{
    border-color: #007BFF;
    outline: none;
}
.password-container label{
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}
.password-container input{
    height: 35px;
    padding: 0 10px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-size: 14px;
}
.password-container input:focus{
    border-color: #007BFF;
    outline: none;
}
.confirm-container label{
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}
.confirm-container input{
    height: 35px;
    padding: 0 10px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-size: 14px;
}
.confirm-container input:focus{
    border-color: #007BFF;
    outline: none;
}
.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-container button{
    width: 80%;
    height: 40px;
    background: linear-gradient(0deg, #007BFF, #00fff2);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submit-container button:hover{
    background: linear-gradient(0deg, #00fff2, #007BFF);
    transform: scale(1.05);
}
.display{
    display: none;
}
.error {
    color: red;
    font-size: 12px;
   
}
.error input{
    color: red;
}
.progress-bar{
    width: 47%;
    height: 5px;
    background-color: #00ccff;
    border-radius: 5px;
    visibility: hidden;
    transition: all 0.3s ease;
}
.progressRed{
    background-color: red;
    width: 20%;
    height: 5px;
    border-radius: 5px;
    visibility: visible;
}
.progressBlue{
    background-color: #007BFF;
    width: 60%;
    height: 5px;
    border-radius: 5px;
    visibility: visible;
}
.progressGreen{
    background-color: #00ffb3;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    visibility: visible;
}