*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 125vh;
    width: 100%;
    overflow-x: hidden;
    background: url(./images/map.jpg) center/cover;
}
.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125vh;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(180deg, rgba(0, 195, 255, 0.884), rgba(4, 252, 219, 0.884));
}
.header-meteo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}
.tem{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.main-meteo{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.locat{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    color: #dff9fd;
    font-weight: bold;
    font-size: 1.25rem;
}
.day{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.75rem;
    padding-bottom: 20px;
    padding-left: 30px;
}
.vent, .precipitations, .pression{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #dff9fd;
    font-weight: bold;
    font-size: 1rem;
}
#temperature{
    font-size: 3rem;
    color: #ffffff;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.534);
}
.day-meteo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 10px;
}
.day-meteo img{
    width: 150px;
    height: 150px;
}